html, body {
    height: 100vh;
    padding: 0px;
    margin: 0px;
    font-size: 25px;
    color: #fff;
    background-color: #202020;
    overflow: hidden;
    font-family: 'Inconsolata', monospace;;
}

.none {
    display: none !important;
}

.content_wrapper {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

.content {
    background-color: #3d3d3d;
    width: 40%;
    border-radius: 5px;
    padding: 30px 60px;
    height: 500px;
    overflow-y: auto;
    position: absolute;
    z-index: 100;
    /* top: -1375px; */
}

.p_content {
    font-size: 30px;
    text-align: center;
}

.ul_content {
    padding: 0;
}

ul li {
    list-style-type: none;
    list-style-position: outside;
}

.liclass {
    display: flex;
    align-items: center;
    position: relative;
    padding: 13px 0;
    margin: 20px 0;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 35px;
}

.form_input {
    min-width: 80%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #202427;
    height: 29px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
}

.form_button {
    position: absolute;
    right: 0;
    top: 0;
    width: 95px;
    height: 35px;
    font-size: 20px;
    color: #fff;
    background-color: #202427;
    border:none;
    border-radius: 10%;
}

.form_button:hover{
    font-size: 20px;
    background-color: #39bd28;
    box-shadow: 1px 1px 20px 1px #39bd28;
    border-radius: 10px;
}

.taskCollection {
    max-width: 80%;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task_done {
    text-decoration: line-through;
    opacity: 0.2;
}

.taskZero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 40px;
    color: #39bd28;
    margin-top: 140px;
}

.btn_add {
    position: absolute;
    right: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    background-color: #39bd28;
    width: 35px;
    height: 35px;
    border: none;
    color: #000;
    font-size: 20px;
}

.btn_add:hover {
    box-shadow: 1px 1px 20px 1px #39bd28;
}

.btn_delete {
    position: absolute;
    right: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    background-color: #c73535;
    width: 35px;
    height: 35px;
    border: none;
    color: #000;
    font-size: 20px;
}

.btn_delete:hover {
    box-shadow: 1px 1px 20px 1px #c73535;
}

.animation_children {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

::-webkit-scrollbar {
    width: 0px;
}


@media (max-width: 1300px) {
    .content {
        padding: calc(20px + (50 - 20) * ((100vw - 320px) / ( 1300 - 320 )));;
    }
    .form_button {
        width: 40px;
    }
    .taskCollection {
        max-width: 70%;
    }
    .btn_delete,
    .btn_add {
        width: 30px;
        height: 30px
    }
    .taskZero {
        font-size: 30px;
    }
}

@media (max-width: 740px) {
    .p_content {
        font-size: 25px;
    }
    .content {
        padding: calc(20px + (50 - 20) * ((100vw - 320px) / ( 740 - 320 )));;
    }
    .form_input {
        max-width: 50%;
        font-size: 15px;
    }
    .taskCollection {
        max-width: 50%;
        font-size: 18px;
    }
    .btn_delete {
        width: 25px;
        height: 25px;
        font-size: 10px;
    }
    .btn_add {
        width: 25px;
        height: 25px;
        right: 30px;
        font-size: 10px;
    }
    .taskZero {
        font-size: 25px;
    }
}

@media (max-width: 610px) {
    .form_button {
        width: 20px;
        height: 20px;
        font-size: 10px;
        top: 9px;
    }
    .content {
        padding: calc(10px + (50 - 20) * ((100vw - 320px) / ( 1200 - 320 )));;
    }
    .p_content {
        font-size: 20px;
    }
    .form_input {
        font-size: 10px;
        height: 20px;
        top: 5px;
    }
    .btn_delete {
        width: 15px;
        height: 15px;
        font-size: 5px;
    }
    .btn_add {
        width: 15px;
        height: 15px;
        right: 20px;
        font-size: 5px;
    }
    .taskZero {
        font-size: 19px;
    }
}

@media (max-width: 460px) {
    .p_content {
        font-size: 15px;
    }
    .taskCollection {
        font-size: 15px;
        align-items: center;
    }
    .form_input {
        min-width: 95%;
    }
    .form_button {
        display: none;
    }
    .btn_delete {
        width: 15px;
        height: 15px;
        font-size: 5px;
    }
    .btn_add {
        width: 15px;
        height: 15px;
        right: 20px;
        font-size: 5px;
    }
    .taskZero {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    .content {
        padding: calc(10px + (50 - 20) * ((100vw - 320px) / ( 1200 - 320 )));;
    }
    .p_content {
        font-size: 15px;
    }
    .form_input {
        margin-top: 3px;
        font-size: 8px;
        height: 15px;
        top: 5px;
    }
    .taskCollection {
        font-size: 12px;
        align-items: center;
    }

    .taskZero {
        font-size: 15px;
    }
}
